@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* cores */

:root{
  --cor1: #275745;
  --cor2: #4A6E52;
  --cor3: #F8F6E5;
  --cor4: #214A40;
  --cor5: #143531;}

/*Cabeçalho*/

header{background-color: var(--cor2);
  color: var(--cor3);
  height: 97px;
  margin: -20px -8px 0px -8px;
  position: sticky;
  top: 0;}

header > div.logo > h1{
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  text-align: center;
  padding: 30px 60px 1px 1px;
}

header > div.logo > img{float: left;}

header > div.logo > i/*se comporta como texto*/{
  color: var(--cor3); 
  cursor: pointer;
  font-size: 30px;
  float: right;
  margin-top: -50px;}

header > div.menu{background-color: var(--cor2);
         width: 100%;
         text-align: center;
         margin-top: 21px;
         opacity: 0;
         visibility: hidden;}

header > div.show{opacity: 1;
                  transition: 1s;
                  visibility: visible;
                  position: absolute;}

header > div.hide{opacity: 0;
                  transition: 1s;}


header > div.menu > a{line-height: 63px;
                      font-size: 30px;
                      text-decoration: none;
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                      color: var(--cor3);}

header > div.menu > a:hover{text-decoration: underline;}

/*Corpo*/

body{background-color: white;}

main{background-image: url('fotos/floresta.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -8px;
    padding-right: 16px;
    height: 100vh;
    width: 100%;}

main > h1 {text-align: center;
           margin: 0.2px 17px 1px 17px;
           padding-top: 40px;
           color: var(--cor5);
           font-family: 'PT Serif', 'Serif';
           font-size: 32px;}