@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* cores */

:root{
  --cor1: #275745;
  --cor2: #4A6E52;
  --cor3: #F8F6E5;
  --cor4: #214A40;
  --cor5: #143531;}

/*Cabeçalho*/

header{background-color: var(--cor2);
  color: var(--cor3);
  height: 97px;
  margin: -20px -8px 0px -8px;
  position: sticky;
  top: 0;}

header > div.logo > h1{
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  text-align: center;
  padding: 30px 60px 1px 1px;}

header > div.logo > h1 > a{text-decoration: none;
                           color: var(--cor3); }

header > div.logo > img{float: left;}

header > div.logo > i/*se comporta como texto*/{
  color: var(--cor3); 
  cursor: pointer;
  font-size: 40px;
  float: right;
  margin-top: -50px;}

header > div.menu{background-color: var(--cor2);
         width: 100%;
         text-align: center;
         margin-top: 21px;
         opacity: 0;
         visibility: hidden;}

header > div.show{opacity: 1;
                  transition: 1s;
                  visibility: visible;
                  position: absolute;}

header > div.hide{opacity: 0;
                  transition: 1s;}


header > div.menu > a{line-height: 63px;
                      font-size: 30px;
                      text-decoration: none;
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                      color: var(--cor3);}

header > div.menu > a:hover{text-decoration: underline;}

/*Corpo*/

body{background-color: var(--cor3)}

main.principal{background-image: url('fotos/floresta.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -102px 0px 0px -8px;
    padding: 0px 16px 8px 0px;
    height: 100vh;
    width: 100%;}

main.principal > h1 {text-align: center;
           margin: 0.2px 5px 1px 5px;
           padding-top: 140px;
           color: var(--cor5);
           font-family: 'PT Serif', 'Serif';
           font-size: 4vw;}

main.principal > p{margin-top: 90px;
         padding: 0px 50px 0px 50px; 
         font-family: Arial, Helvetica, sans-serif;
         font-size: 3vh;
         color: var(--cor3);
         text-shadow: 2px 2px 2px black;}

main.principal > div{margin: auto;
           margin-top: 20px; 
           text-align: center;
           line-height: 60px; 
           border: 3px solid var(--cor5);
           background-color: #4a6e52d8;
           border-radius: 12px;
           width: 200px; 
           height: 60px;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 23px;}

main.principal > div:hover{border: 5px solid var(--cor5);
                 background-color: var(--cor2);}

main.principal > div > a{text-decoration: none;
               color: var(--cor3);
               padding: 17px 33px 17px 33px;}

/*Sobre*/

main.sobre > h1{text-align: center;
                font-family: 'PT Serif', 'Serif';
                color: var(--cor5);
                font-size: 55px;
                text-shadow: 2px 2px 3px #4A6E52;}

main.sobre > div {width: 90vw;
                  height: 30vw;
                  max-width: 80vw;                
                  margin: auto;
                  background-image: url(fotos/ong1.jpg);
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center center;
                  padding-bottom: 88px;}

main.sobre > ol {background-color: white;
                 font-family: Arial, Helvetica, sans-serif;
                 font-size: 2.5vh;
                 line-height: 43px;
                 text-align: justify;
                 margin: 200px 2vw 0px 2vw;
                 padding: 1px 30px 1px 40px;
                 border-radius: 10px;
                 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);}

main.sobre > ol > li#prin{font-size: 3.7vh;
                          margin-top: 50px;
                          color: var(--cor5);
                          line-height: 45px;
                          font-family: 'Lato', sans-serif;}

main.sobre > ol > ol > li{margin-top:25px;}

main.sobre > ol > ul > span#projeto{color: var(--cor4);
                                    font-size: 3.5vh;
                                    text-align: center;    }
